.header-area
  .logo Special Design
  .links-container
    ul.links
      li: a(href='#' data-section='.about-us') About
      li: a(href='#' data-section='.skills') Skills
      li: a(href='#' data-section='.gallery') Gallery
      li: a(href='#' data-section='.timeline') Timeline
      li: a(href='#' data-section='.features') Features
      li: a(href='#' data-section='.testimonials') Testimonials
    button.toggle-menu
      span
      span
      span