.header-area
  .logo Special Design
  ul.links
    li: a(href='#' data-section='.about-us') About
    li: a(href='#' data-section='.skills') Skills
    li: a(href='#' data-section='.gallery') Gallery
    li: a(href='#' data-section='.timeline') Timeline
    li: a(href='#' data-section='.features') Features
    li: a(href='#' data-section='.testimonials') Testimonials

.introduction-text
  h1 We are 
    span creative 
    | agency.
  p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus, mollitia exercitationem enim eligendi at qui!