// Start About Us
.about-us {
  padding: $sectionPadding;
  display: flex;
  .info-box {
    flex: 1;
    padding: 30px;
    h2 {
      font: {
        weight: bold;
        size: 30px;
      }
      color: var(--main-color);
      margin: 0 0 10px;
    }
    p {
      line-height: 1.8;
      color: #767676;
      margin: 0;
    }
  }
  .image-box {
    flex: 1;
    text-align: center;
    img {
      width: 250px;
    }
  }
}
@media (max-width: 767px) {
  .about-us {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .about-us .info-box {
    padding: 0;
  }
}
// End About Us

// Start Our Skills
.skills {
  padding: $sectionPadding;
  background-color: #eee;
  h2 {
    font: {
      weight: bold;
      size: 30px;
    }
    color: var(--main-color);
    margin: 0 0 50px;
    text-align: center;
  }
  .skill-box {
    background-color: #fff;
    display: flex;
    padding: 15px;
    margin: 15px;
    .skill-name {
      font-weight: bold;
      width: 130px;
      text-align: center;
      line-height: 30px;
    }
    .skill-progress {
      height: 30px;
      width: 100%;
      background-color: #f6f6f6;
      border-radius: 6px;
      position: relative;
      overflow: hidden;
      span {
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        background-color: var(--main-color);
        transition: all 0.5s;
      }
    }
  }
}
@media (max-width: 767px) {
  .skills .skill-box {
    // display: block;
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .skills .skill-box .skill-name {
    width: 100%;
    margin-bottom: 15px;
  }
}
// End Our Skills

// Sart Gallery
.gallery {
  padding: $sectionPadding;
  text-align: center;
  h2 {
    font: {
      weight: bold;
      size: 30px;
    }
    color: var(--main-color);
    margin: 0 0 50px;
    text-align: center;
  }
  .images-box {
    text-align: center;
    img {
      width: 200px;
      padding: 3px;
      background-color: #f6f6f6;
      border: 1px solid #ccc;
      margin: 5px;
      cursor: pointer;
    }
  }
}

.popup-overlay {
  position: fixed;
  background-color: rgba($color: #000000, $alpha: 0.7);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.popup-box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1001;
  h3 {
    font-weight: bold;
    text-align: center;
    margin: 0 0 20px;
    color: var(--main-color);
  }
  img {
    max-width: 100%;
  }
  .close-button {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: var(--main-color);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font: {
      family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      weight: bold;
      size: 20px;
    }
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
  }
}
// End Gallery
// Start Timeline
.timeline {
  padding: $sectionPadding;
  background-color: #eee;
  .timeline-content {
    position: relative;
    display: flex;
    // overflow: hidden;
    &::before {
      content: "";
      width: 2px;
      height: 100%;
      background-color: var(--main-color);
      position: absolute;
      left: 50%;
      margin-left: -1px;
      top: 0;
    }
    .year {
      margin: 20px auto;
      width: 50px;
      background-color: var(--main-color);
      position: relative;
      z-index: 2;
      border-radius: 4px;
      text-align: center;
      color: #fff;
      padding: 2px 5px;
      font-weight: bold;
      position: absolute;
      left: 50%;
      margin-left: -25px;
    }
    .left,
    .right {
      // width: calc(50% - 25px);
      // margin-bottom: 40px;
      position: relative;
      margin: 60px 30px;
    }
    .left {
      .content::before {
        content: "";
        border-style: solid;
        border-width: 10px;
        border-color: transparent transparent transparent #fff;
        height: 0;
        width: 0;
        position: absolute;
        right: -20px;
        top: 20px;
      }
    }
    .left::before {
      right: -40px;
    }
    .right {
      margin-top: 20%;
      .content::before {
        content: "";
        border-style: solid;
        border-width: 10px;
        border-color: transparent #fff transparent transparent;
        height: 0;
        width: 0;
        position: absolute;
        left: -20px;
        top: 20px;
      }
    }
    .right::before {
      left: -40px;
    }
    .left::before,
    .right::before {
      content: "";
      width: 14px;
      height: 14px;
      background-color: #fff;
      border: 3px solid var(--main-color);
      position: absolute;
      border-radius: 50%;
      top: 20px;
    }
    .content {
      padding: 20px;
      background-color: #fff;
    }
    h3 {
      font-weight: bold;
      color: var(--main-color);
      margin: 0 0 10px;
    }
    p {
      color: #666;
      margin: 0;
      line-height: 1.6;
    }
  }
}
@media (max-width: 767px) {
  .timeline .timeline-content {
    flex-direction: column;
    // width: 100%;
    // margin-bottom: 20px;
    margin-bottom: 0;
  }
  .timeline .timeline-content .left {
    margin: 60px 10px;
  }
  .timeline .timeline-content .right {
    margin: 15px 10px;
  }
  .timeline .timeline-content .left:before,
  .timeline .timeline-content .right:before {
    display: none;
  }
  .timeline .timeline-content .left .content {
    margin-bottom: -55px;
  }
  .timeline .timeline-content .left .content:before,
  .timeline .timeline-content .right .content:before {
    display: none;
  }
}
// End Timeline

// Start Features
.features {
  padding: $sectionPadding;
  h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 60px;
    text-align: center;
  }
  .feat-content {
    display: flex;
    flex-wrap: wrap;
    .feat-box {
      width: calc(100% / 3);
      text-align: center;
      margin-bottom: 40px;
      img {
        width: 96px !important;
      }
      h4 {
        font-size: 22px;
        margin: 15px 0 40px;
        position: relative;
        &::before {
          content: "";
          width: 40px;
          height: 4px;
          background-color: var(--main-color);
          position: absolute;
          left: 50%;
          margin-left: -20px;
          bottom: -22px;
        }
      }
      p {
        width: 80%;
        margin: 0 auto;
        line-height: 1.7;
        color: #706f6f;
      }
    }
  }
}
@media (max-width: 991px) {
  .features .feat-box {
    width: calc(100% / 2) !important;
  }
}
@media (max-width: 575px) {
  .features .feat-box {
    width: 100% !important;
  }
}
// End Features

// Start Testimonials
.testimonials {
  position: relative;
  // overflow: hidden;
  padding: $sectionPadding;
  &::before {
    content: "";
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--main-color);
    height: 100%;
  }
  &::after {
    content: "";
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #333;
    height: 100%;
  }
  h2 {
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    margin: 0 0 30px;
    text-align: left;
    position: relative;
    z-index: 2;
  }
  .test-content {
    display: flex;
    .ts-box {
      position: relative;
      z-index: 2;
      width: calc(98% / 3);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // float: left;
      background-color: #fff;
      padding: 20px;
      &:not(:last-of-type) {
        margin-right: 1%;
      }
      > p {
        margin: 0 0 20px;
        line-height: 1.5;
        font-size: 15px;
        color: #707070;
        font-style: italic;
      }
      .person-info {
        // overflow: hidden;
        display: flex;
        img {
          // float: left;
          border-radius: 50%;
          margin-right: 20px;
        }
        h4 {
          margin: 14px 0 10px;
        }
        p {
          color: #707070;
          margin: 0;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .testimonials h2 {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .testimonials .test-content {
    flex-direction: column;
  }
  .testimonials .ts-box {
    width: 100% !important;
    margin-bottom: 10px;
  }
}
@media (max-width: 991px) {
  .testimonials .test-content .ts-box .person-info {
    display: block;
    text-align: center;
  }
  .testimonials .test-content .ts-box .person-info img {
    margin-right: 0;
  }
}
// End Testimonials

// Start Contact Us
.contact {
  min-height: 600px;
  background-image: url("../images/contact.png");
  background-size: cover;
  padding: $sectionPadding;
  position: relative;
  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    /* background-color: rgb(255 255 255 / 60%); */
  }
  .container {
    position: relative;
    z-index: 2;
  }
  h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 60px;
    text-align: center;
  }
  form {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: auto;
    .left {
      width: 49%;
    }
    .right {
      width: 49%;
    }
    input:not([type="submit"]),
    textarea {
      display: block;
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      background-color: rgba(218, 218, 218, 0.19);
    }
    input:not([type="submit"]):focus,
    textarea:focus {
      outline: 1px solid var(--main-color);
    }
    input {
      height: 40px;
    }
    textarea {
      height: 150px;
    }
    input[type="submit"] {
      padding: 10px;
      width: 100%;
      border-color: transparent;
      background-color: var(--main-color);
      color: #fff;
      cursor: pointer;
    }
    textarea:focus::-webkit-input-placeholder,
    input:not([type="submit"]):focus::-webkit-input-placeholder {
      opacity: 0;
      transition: 0.3s;
    }
    textarea:focus:-ms-input-placeholder,
    input:not([type="submit"]):focus:-ms-input-placeholder {
      opacity: 0;
      transition: 0.3s;
    }
    textarea:focus::placeholder,
    input:not([type="submit"]):focus::placeholder {
      opacity: 0;
      transition: 0.3s;
    }
  }
}
@media (max-width: 767px) {
  .contact form {
    flex-direction: column;
  }
  .contact form .left,
  .contact form .right {
    width: 100%;
  }
}
// End Contact Us
