//- Start Nav Bullets
.nav-bullets
  .bullet(data-section='.about-us')
    .tooltip About Us
  .bullet(data-section='.skills')
    .tooltip Our Skills
  .bullet(data-section='.gallery')
    .tooltip Our Gallery
  .bullet(data-section='.timeline')
    .tooltip Timeline
  .bullet(data-section='.features')
    .tooltip Features
  .bullet(data-section='.testimonials')
    .tooltip Testimonials
//- End Nav Bullets
